<section id="contact">
    <div class="modular-row hireus {{ page.header.class}}">
        {% block content %}
    {{ content }}
    {% include "forms/form.html.twig" %}
{% endblock %}
    </div>
</section>