{% extends 'partials/base.html.twig' %}

{% block showcase %}
<h2>{{ page.showcasehead }}</h2>
<h2>{{ page.showcasesubhead }}</h2>
<h2>{{ page.showcasep }}</h2>
{% endblock %}


{% block content %}
{{ page.content }}
{% endblock %}
